.invoice{
    /*border: solid 1px black;*/
}
.shop-details{
    /*text-align: center;*/
}
.invoice-header{
    border: solid 1px black;
}

.main-container{
    padding: 100px!important;
}

.label{
    text-align: center;
}
.label-bold{
    text-align: center;
    font-weight: bold;
}
.bord{
    border: solid 1px black;
}
.b-bottom{
    border-bottom: solid 1px black;
}
.b-left{
    border-left: solid 1px black;
}
.b-right{
    border-right: solid 1px black;
}
.b-top{
    border-top: solid 1px black;
}
.invoice-main-body{
    border-collapse: collapse;
    min-height: 300px;
    position: relative;
}
.columns{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.columns .row{
    height: 100%;
}

.invoice-body-footer{

}

.total-amount{
    margin-left: -0.1%;
}
.gst{
    margin-left: -0.05%;
}

.customer-sign-body{
    display: flex;
}

.customer-sign-content{
    align-self: flex-end;
    width: 100%;
    padding-left: 16px
}



.for-sr{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.thanks{
    float: right;
    padding-right: 150px;
    padding-left: 132px;
    text-align: center;
}

.print-hidden{
    margin: 20px;
    padding: 5px;
}

@page { margin: 0mm; }


@media print {
    .print-hidden{
        display: none;
    }
}