.invoice{
    border: solid 1px black;
}
.detail-header{
    display: flex;
}
.detail-1, .detail-2, .detail-3{
    flex: 1;
    text-align: center;
}
.detail-1{
    text-align: justify;
}
.shop-details{
    /*text-align: center;*/
    position: relative;
}
.invoice-header{
    border: solid 1px black;
}

.main-container{
    padding: 100px!important;
}

.label{
    text-align: center;
}
.label-bold{
    text-align: center;
    font-weight: bold;
}
.headings{
}
.heading{
    font-size: 14px;
    padding: 4px;
}
.bord{
    border: solid 1px black;
}
.b-bottom{
    border-bottom: solid 1px black;
}
.b-left{
    border-left: solid 1px black;
}
.b-right{
    border-right: solid 1px black;
}
.b-top{
    border-top: solid 1px black;
}
.invoice-main-body{
    border-collapse: collapse;
    min-height: 500px;
    position: relative;
}
.columns{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.columns .row{
    height: 100%;
}

.invoice-body-footer{

}
.heading-gst{
    font-size: 12px;
}
.total-amount{
    margin-left: -0.1%;
}
.gst{
    margin-left: -0.05%;
}

.customer-sign-body{
    display: flex;
}

.customer-sign-content{
    align-self: flex-end;
    width: 100%;
    padding-left: 16px
}

.for-shop{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.print-hidden{
    margin: 20px;
    padding: 5px;
}

*{
    color: #000;
}
.text-14{
    font-weight: bold;
    font-size: 12px;
}
.bold{
    font-weight: bold;
}

@page { margin: 0mm; }

@media print {
    .print-hidden{
        display: none;
    }
}